.app {
    margin: 0 auto;
    padding: 50px;
    max-width: 600px;
}

.form__name,
.form__sirname,
.form__phone {
    height: 38px;
}

.Select-control,
.Select-placeholder {
    height: 38px;
    color: #495057;
    font-size: 1rem;
}

.Select-control {
    border-radius: .25rem;
    line-height: 1.5;
}

.Select-placeholder {
    line-height: 36px;
}

.form__job .Select-arrow-zone {
    display: none;
}

.pic_belarus {
    background: url("./img/belarus_l.png");
    display: block;
    height: 20px;
    width: 40px;
}

.form__phone .Select-control,
.form__phone .Select.is-pseudo-focused > .Select-control {
    background: #ccc;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 80px;
}

.form__phone .Select-clear-zone {
    display: none;
}

.form__phone .Select-input input {
    display: none !important;
}

.form__phone .Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
    padding-right: 28px;
}